<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form th:method="POST" th:action="@{/registration}" th:object="${userForm}">
    <label for="username">Username:</label>
    <input type="email" id="username" name="username" required>
    <br>
    <label for="firstName">Firstname:</label>
    <input type="text" id="firstName" name="firstName" required>
    <br>
    <label for="lastName">Lastname:</label>
    <input type="text" id="lastName" name="lastName" required>
    <br>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${allRoles}"
                   th:text="${role.getNameTable()}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="passwordConfirm">PasswordConfirm:</label>
    <input type="password" id="passwordConfirm" name="passwordConfirm" required>
    <br>

    <br>
    <button type="submit" onclick="window.location.href = '/user'">Submit</button>
    <br>
    <br>
    <button onclick="window.location.href = '/'">Back to users</button>
</form>

</body>
</html>
